@model GroupProject1_272.Models.Collector

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Collector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Collector_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collector_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collector_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collector_Surname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Collector_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
