@model IEnumerable<GroupProject1_272.Models.DLMaterial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DLMaterial_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donation_Line.DL_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material.Material_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DLMaterial_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donation_Line.DL_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material.Material_Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DLMaterial_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DLMaterial_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DLMaterial_ID })
        </td>
    </tr>
}

</table>
